<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="header">
        <h1>My Store</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li>Users</li>
            <li>Login</li>
            <li>Logout</li>
        </ul>

    </header>
    <%- body %>
        <footer class="footer">
            <p>&copy; 2023 My Store. All rights reserved.</p>
        </footer>
</body>

</html>